
<div class="mt4">
    <h3>Create user</h3>


    <form method="post" action="/users/store">
        <div class="form-group">
            <label for="name">User name:</label>
            <input type="text" class="form-con" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="fullname">Fullname:</label>
            <input type="text" class="form-con" id="fullname" name="fullname">
        </div>
        <div class="form-group">
            <label for="videoId">Email</label>
            <input type="text" class="form-con" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Create user</button>
    </form>
</div>