<div class="mt4">
    <h3>Edit user</h3>
    <form method="post" action="/users/update">
        <div class="form-group">
            <label for="name">ID</label>
            <input type="text" class="form-con" id="id" name="id" type="hidden" value={{user.id}} >
        </div>
        <div class="form-group">
            <label for="name">User name:</label>
            <input type="text" class="form-con" value="{{user.name}}" id="name" name="name" >
        </div>
        <div class="form-group">
            <label for="fullname">Fullname:</label>
            <input type="text" class="form-con" id="fullname" name="fullname" value={{user.fullname}}>
        </div>
        <div class="form-group">
            <label for="videoId">Email</label>
            <input type="text" class="form-con" id="email" name="email" value={{user.email}}>
        </div>
        <button type="submit" class="btn btn-primary">Update user</button>
    </form>
</div>